/starter/*.iml
/starter/.gradle
/starter/local.properties
/.idea/caches/build_file_checksum.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.idea
/starter/.idea/caches/build_file_checksum.ser
/starter/.idea/libraries
/starter/.idea/modules.xml
/starter/.idea/workspace.xml
/starter/.idea
/starter/.DS_Store
/starter/build
/starter/captures
/starter/.externalNativeBuild


# gradle
/starter/gradle/
/starter/gradlew*
